<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
<meta name="format-detection" content="telphone=no"/>
<script src="../js/jquery-1.11.1.min.js"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet"/>
<script src="../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/zjsyk.css"/>
<link rel="stylesheet" href="../css/symstyle.css"/>
<script src="../js/layer.m.js"></script>
<script src="../js/mlayerUtil.js"></script>
<title>浙江省眼科医院</title>
</head>
<body>
<div class="title" id="theme">
   <div class="title-name" id="title-name">预约</div>
    <div class="title-left" >
     <a href ="javascript:history.go(-1)"   >
     <img class="title-backimg" src="../images/common/back.png"/></a>
   </div>
</div>
<div class="container self-panel-body">
  <div class="labelDiv">预约详情</div> 
  <li class="facu2 facu-block" style="margin-top: 0;"; >
		           <div class="self-panel-body container clear-margin" >
		            <div class="item-l1  col-md-4 " style="width:100%;text-align:left">
		              
		                <span class="gray">陈岩 眼视光治疗中心</span>
		               
		            </div>	     
  </li>
  <li class="facu2 facu-block" style="margin-top: 0;border-top: 0;"; >
		           <div class="self-panel-body container clear-margin" >
		            <div class="item-l1  col-md-4 " style="width:100%;text-align:left">
		              
		                <span class="gray">2015-12-30 08:00 上午</span>
		              
		            </div>	     
  </li>
  
  <div class="labelDiv">预约人</div> 
  <li class="facu2 facu-block" style="margin-top:0;">
		        <div class="self-panel-body container clear-margin" >
		            <div class="item-l1  col-md-4 " style="width:100%;text-align:left">
		              <span class="red">*</span>
		                <span class="gray">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
		                <input class="facuinput"  type="text" name="username" id="username" placeholder=""/>
		           </div>     
  </li>
   <li class="facu2 facu-block" style="margin-top:0;;border-top: 0;">
		        <div class="self-panel-body container clear-margin" >
		            <div class="item-l1  col-md-4 " style="width:100%;text-align:left">
		              <span class="red">*</span>
		                <span class="gray">身份证号：</span>
		                <input class="facuinput"  type="text" name="idno" id="idno" placeholder=""/>
		           </div>     
  </li>
  <li class="facu2 facu-block" style="margin-top:0;border-top: 0;">
		        <div class="self-panel-body container clear-margin" >
		            <div class="item-l1  col-md-4 " style="width:100%;text-align:left">
		              <span class="red">*</span>
		                <span class="gray">手机号码：</span>
		                 <input class="facuinput" type="text" name="tel" id="tel" placeholder=""/>
		               
		           </div>     
  </li>

	<a onclick="toOrder()" class="btn-block  self-margin-top"  >提交</a>
 
  
</div>
</body>
<script>
	function toOrder() {
    var username = $("#username").val().trim();
    var idno = $("#idno").val().trim();
    var tel = $("#tel").val().trim();
    var reg2 = /^(\d{17})(\d|X|x)$/;
    var reg3 = /^\d{11}$/;
    if (username == '') {
        malert('姓名不能为空!');
        return;
    } else {
        if (!reg2.test(idno)) {
            malert('输入正确的身份证号!');
            return;

        } else {

            if (!reg3.test(tel)) {
                malert('输入正确的11位手机号!');
                return;
            } else {
            	//所有的数据格式正确  请求后台 提交 ;如果预约成功提示跳转页面，否则跳出错误信息
            	loadPage();

}

        }

    }

}
	
	
</script>

</html>
	